<a href="https://colab.research.google.com/github/AlexanderSanJose/CpE-031-VDA-CpE-21s4/blob/main/Exercise_2_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [1]:
import pandas

mydataset = {
  'cars': ["Cat", "Dog", "Rabbit"],
  'height': [13, 17, 8]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

     cars  height
0     Cat      13
1     Dog      17
2  Rabbit       8

Example 2

In [26]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

Example 3

In [24]:
import pandas as pd

data = {
  "age": [42, 38, 39],
  "weight": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45

Example 4

In [25]:
import pandas as pd

s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 8])

dframe = pd.DataFrame([s1, s2, s3])

print(dframe.loc[1:])

   0  1  2
1  1  5  9
2  2  6  8

Example 5

In [23]:
import pandas as pd

s1 = pd.Series([0, 4, 0])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 8])
s4 = pd.Series([5, 10, 15])
dframe = pd.DataFrame(data=[s1, s2, s3, s4], index=[0, 1, 2, 3], columns=[0, 1, 2])

print(dframe)

   0   1   2
0  0   4   0
1  1   5   9
2  2   6   8
3  5  10  15

# How are you going delete indices no 0,1,3 leaving only all items in index 2?

In [22]:
import pandas as pd

s1 = pd.Series([0, 4, 0])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 8])
s4 = pd.Series([5, 10, 15])
dframe = pd.DataFrame(data=[s1, s2, s3, s4], index=[0, 1, 2, 3], columns=[0, 1, 2])

dframe = dframe.drop([0, 1, 3])
print(dframe)

   0  1  2
2  2  6  8